form {
  font-size: 1.6rem;
  max-width: 75rem;
}

.form-control {
  font-size: 1.6rem;
  padding: 0.7rem 2rem;

  &::placeholder {
    color: darken($lightGrey, 7%);
    font-size: 1.4rem;
    font-weight: 300;
  }
}